<!DOCTYPE html>
<html>
	<head>
		<title>Admin</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="/../public/style/adminStyle.css" />
		<script type="text/javascript" src="../public/scripts/ejs_production.js"></script>
	</head>
	<body>
		<header>
			<h1>Admin Page</h1>
		</header>
		<hr />
		<section>
			<table id='walkTable' class='records' border='1'>
				<tr>
					<td>First Name</td>
					<td>Last Name</td>
					<td>Phone Number</td>
					<td>Email</td>
					<td>Package #</td>
					<td>Walk Date</td>
					<td>Walk Time</td>
					<td>Comments</td>
				</tr>
				<tr>
					<td><%= name1 %></td>
					<td><%= name2 %></td>
					<td><%= phone %></td>
					<td><%= email %></td>
					<td><%= package %></td>
					<td><%= date %></td>
					<td><%= time %></td>
					<td><%= comments %></td>
				</tr>
			</table>
			<button onclick="window.location.reload();">Refresh</button>
		</section>
		<footer>
			Logged in as: <%= userName %>
		</footer>
	</body>
</html>